{% load static %}
{% load humanize %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#e9e8e4">
        <meta name="viewport" 
        content="width=device-width, height=device-height, 
                    minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-foundation.min.css">
                    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/locales/ko.js"></script>
                    <link rel="stylesheet" href="{% static '/tankManage/css/fishtank.css' %}"/>
                </head>

    <body>

        <div id = "head-cover" >
            <header>
                <div id="nav-bar">
                    <img id="go-back" src="{% static 'tankManage/img/back.svg'%}">
                    <img id="show-menu" src="{% static 'tankManage/img/menu.svg'%}">
                </div>
                <div class="menu-wrap">
                    <nav id="menu">
                        <ul class="menu-list">
                            <li class="list-style">
                                <a href="#">home</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <h1>{{fishtank.title}}</h1>
            <h3>{{fishtank.contents}}</h3>
            <img style="position:relative;box-sizing: border-box;border-radius: 20px;position:relateive;" width="100%"src="/media/{{fishtank.thumbnail}}">

       
        </div>
        
        <section>

            <input type="radio" name="slide" id="slide01" checked/>
            <input type="radio" name="slide" id="slide02"/>
            <input type="radio" name="slide" id="slide03"/>
            <ul>
                <li>
            
            <article>
                <header>
                    <h2>Fish</h2>
                    
                    <input type="button" id="add_fish"/>
                    <label for="add_fish">
                        <!-- <img src="{%static 'tankManage/img/fish.svg'%}" style="width:40px;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);">  -->
                        <img src="{%static 'tankManage/img/plus2.svg'%}" style="width:20px;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);"> </label>
                </header>

                {% for fish in fishes%}
                
                <div class="fish-section">
                    <figure>
                        {% if fish.img %}
                            <img  src="/media/{{fish.img}}" alt="{{fish.name}} 사진">
                        {%else%}
                            <img src="" alt="default" />
                        {% endif %}
                        {% if fish.hmf and fish.sex %}
                        <figcaption>
                            {%if fish.hmf != 0 %}
                                {{fish.hmf}}마리 
                            {% endif %}
                            {% if fish.hmf and fish.sex %}
                                
                            {% endif %}
                            <b id="Dday">+{{fish.dday}}일</b>
                        </figcaption>
                        {%endif%}
                    </figure>
                    <div style="padding:0 10px">
                        <h3>{{fish.name}}
                            <b>                            
                                {% if fish.sex == 'F'%}
                                    <img  style="width:18px" src="{% static 'tankManage/img/female.svg'%}"/>
                                {% elif fish.sex == 'M'%}
                                <img  style="width:18px" src="{% static 'tankManage/img/male.svg'%}"/>
                                {%endif%}
                            </b>
                        </h3>
                        입수일 : {{today|date:'Y/m/d'}} <br>
                        분양비용 : {{fish.price |intcomma }} 원
                    </div>
                </div>
                {% endfor %}
            </article>
            <article>
                <header>
                    <h2>Plants</h2>
                    <input type="button" id="add_plant"/>
                    <label for="add_plant">
                        <!-- <img src="{%static 'tankManage/img/fish.svg'%}" style="width:40px;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);">  -->
                        <img src="{%static 'tankManage/img/plus2.svg'%}" style="width:20px;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);"> </label>
                </header>

                {% for plant in plants%}
                
                <div class="fish-section">
                    <figure>
                        {% if plant.img %}
                            <img  src="/media/{{plant.img}}" alt="{{plant.name}} 사진">
                        {%else%}
                            <img src="" alt="default" />
                        {% endif %}

                        <figcaption>
                            <b id="Dday">+{{plant.dday}}일</b>
                        </figcaption>

                    </figure>
                    <div style="padding:0 10px">
                        <h3>{{plant.name}}
                        </h3>
                        입수일 : {{plant.get|date:'Y/m/d'}} <br>
                        분양비용 : {{plant.price |intcomma }} 원
                    </div>
                </div>
                {% endfor %}
            </article>
            <article>
                <header>
                    <h2>Supplies</h2>
                    <input type="button" id="add_supplies"/>
                    <label for="add_supplies">
                        <!-- <img src="{%static 'tankManage/img/fish.svg'%}" style="width:40px;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);">  -->
                        <img src="{%static 'tankManage/img/plus2.svg'%}" style="width:20px;position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);"> </label>
                </header>

                {% for supply in supplies%}
                
                <div class="fish-section">
                    <figure>
                        {% if supply.img %}
                            <img  src="/media/{{supply.img}}" alt="{{supply.name}} 사진">
                        {%else%}
                            <img src="" alt="default" />
                        {% endif %}

                        <figcaption>
                            <b id="Dday">+{{supply.dday}}일</b>
                        </figcaption>

                    </figure>
                    <div style="padding:0 10px">
                        <h3>{{supply.name}}
                        </h3>
                        입수일 : {{supply.get|date:'Y/m/d'}} <br>
                        분양비용 : {{supply.price |intcomma }} 원
                    </div>
                </div>
                {% endfor %}

            </article>
            </div>
            </div>
            </li>
            <li>
                <article>
                    <header>
                        <h2>size</h2>
                    </header>
    

                    
                    <div class="fish-section">
                        <img style="width:40px" src="{% static '/tankManage/img/fishtank.png' %}"/>
                        <div style="padding:0 10px;line-height:40px;vertical-align: middle;">
                            
                            <a href="http://192.168.0.103:8000/calc?width={{fishtank.width}}&height={{fishtank.height}}&depth={{fishtank.depth}}">
                                {{fishtank.width}}cm * {{fishtank.depth}}cm * {{fishtank.height}}cm
                            </a>
                        </div>
                    </div>

                    
                </article>
                
            </li>
        </ul>
        <div class="modal-back"></div>
        <div class="modal-body"></div>
        </section>
        <script>

            overlay = document.getElementsByClassName("modal-back")[0];
            modal = document.getElementsByClassName("modal-body")[0];
            body = document.getElementsByTagName("body")[0];
            add_fish = document.getElementById("add_fish");
            const onoverlay = () =>{
                overlay.style.display="block";
                modal.style.display="block";
                body.style.overflow="hidden";
            }
            const outoverlay = () =>{
                overlay.style.display="none";
                modal.style.display="none";
                body.style.overflow="scroll";
                menuWrap.classList.remove("on");
                showMenu.classList.remove('btn-rotate');
            }
            overlay.addEventListener('click' , outoverlay);
            add_fish.addEventListener('click',()=>{

                onoverlay();

                modal.innerHTML=`
                
                <div id="fish_modal" style="margin:10px;">
                <div class="input">
                    <input class="inputs" id="fishName" type="text" placeholder="이름"/>
                    <label class="labels" for="fishName">이름</label>
                </div>
                <div class="input">
                    <input class="inputs" id="hmf" type="number" placeholder="마릿수"/>
                    <label class="labels" for="hmf">마릿수</label>
                </div>
                <div class="input">
                    <label>암수</label>
                   <select>
                       <option value="N" selected>선택안함</option>
                       <option value="F">암</option>
                       <option value="M">수</option>
                   </select>
                </div>
                <div class="input">
                    <input class="inputs" id="fishPrice" type="number" placeholder="분양비"/>
                    <label class="labels" for="fishPrice">분양가격</label>
                </div>
                <div class="input">
                    <input type="file" id="fishImg" accept=".png, .jpg, .jpeg">
                </div>
                
                <div class="input">
                    <input class="inputs" type="text" id="fishGet" name="foo" placeholder="시작일" readonly>
                    <label class="labels" for="fishGet">시작일</label>
                </div>
                
            </div>
            <button id="click" onclick="send('fish')">클릭</button>
                `;
                datepicker();
            });

        add_plant.addEventListener('click',()=>{

            onoverlay();

            modal.innerHTML=`

            <div style="margin:10px;">
            <div class="input">
                <input class="inputs" id="plantName" type="text" placeholder="이름"/>
                <label class="labels" for="plantName">이름</label>
            </div>

            <div class="input">
                <input class="inputs" id="plantPrice" type="number" placeholder="분양비"/>
                <label class="labels" for="plantPrice">분양가격</label>
            </div>
            <div class="input">
                <input type="file" id="plantImg" accept=".png, .jpg, .jpeg">
            </div>

            <div class="input">
                <input class="inputs" type="text" id="plantGet" name="foo" placeholder="시작일" readonly>
                <label class="labels" for="plantGet">시작일</label>
            </div>

            </div>
            <button id="click" onclick="send('plant')">클릭</button>
            `;
            datepicker();
        });
        add_supplies.addEventListener('click',()=>{

            onoverlay();

            modal.innerHTML=`

            <div style="margin:10px;">
            <div class="input">
                <input class="inputs" id="suppliesName" type="text" placeholder="이름"/>
                <label class="labels" for="suppliesName">이름</label>
            </div>

            <div class="input">
                <input class="inputs" id="suppliesPrice" type="number" placeholder="분양비"/>
                <label class="labels" for="suppliesPrice">분양가격</label>
            </div>
            <div class="input">
                <input type="file" id="suppliesImg" accept=".png, .jpg, .jpeg">
            </div>

            <div class="input">
                <input class="inputs" type="text" id="suppliesGet" name="foo" placeholder="시작일" readonly>
                <label class="labels" for="suppliesGet">시작일</label>
            </div>

            </div>
            <button id="click" onclick="send('supplies')">클릭</button>
            `;
            datepicker();
            });


        function send(type){
            if (type=='fish'){
                    const name=document.getElementById("fishName");
                    const hmf = document.getElementById("hmf");
                    const price = document.getElementById("fishPrice");
                    var img = document.getElementById("fishImg");

                    var sex = document.getElementsByTagName("select")[0];
                    elementList=[name,hmf,price,img,sex];
                    sexVal = sex.options[sex.selectedIndex].value; 
                    imgs = img.files[0];
                    const get = document.getElementById("fishGet");
                    var formData = new FormData();
                    formData.append('name', name.value)
                    formData.append('img',imgs);
                    formData.append('price',price.value);
                    formData.append('hmf',hmf.value);
                    formData.append('get',get.value)
                    formData.append('sex', sexVal)
                    fetch('/add_fish/{{pid}}',{
                        method:'POST',
                        body:formData,
                        headers:{
                                'X-CSRFToken': '{{csrf_token}}'
                        }
                        })
                .then(res=>res.json())
                .then((result)=> {
                    elementList.forEach((e)=>{
                        e.value='';
                    })
                    outoverlay();
                });
            }
            if(type=='plant'){
                const name=document.getElementById("plantName");
                const price = document.getElementById("plantPrice");
                var img = document.getElementById("plantImg");
                const get = document.getElementById("plantGet");

                elementList=[name,price,img,get];
                imgs = img.files[0];
                var formData = new FormData();
                formData.append('name', name.value)
                formData.append('img',imgs);
                formData.append('price',price.value);
                formData.append('get',get.value)
                fetch('/add_plant/{{pid}}',{
                    method:'POST',
                    body:formData,
                    headers:{
                            'X-CSRFToken': '{{csrf_token}}'
                    }
                    })
                .then(res=>res.json())
                .then((result)=> {
                    elementList.forEach((e)=>{
                        e.value='';
                    })
                    outoverlay();
                });
            }
            if(type=='supplies'){
                const name=document.getElementById("suppliesName");
                const price = document.getElementById("suppliesPrice");
                var img = document.getElementById("suppliesImg");
                const get = document.getElementById("suppliesGet");

                elementList=[name,price,img,get];
                imgs = img.files[0];
                var formData = new FormData();
                formData.append('name', name.value)
                formData.append('img',imgs);
                formData.append('price',price.value);
                formData.append('get',get.value)
                fetch('/add_supplies/{{pid}}',{
                    method:'POST',
                    body:formData,
                    headers:{
                            'X-CSRFToken': '{{csrf_token}}'
                    }
                    })
                .then(res=>res.json())
                .then((result)=> {
                    elementList.forEach((e)=>{
                        e.value='';
                    })
                    outoverlay();
                });
            }
        }
        const datepicker = () =>{
            const elem = document.querySelector('input[name="foo"]');
                const datepicker = new Datepicker(elem, {
                'language':'ko',
                'format' : 'yyyy-mm-dd',
                'autohide' : 'true',
                }); 
        }
        document.getElementById('go-back').addEventListener('click',()=>{
    window.history.back();
})
var menuWrap = document.querySelector('.menu-wrap');
var showMenu = document.getElementById('show-menu');
document.addEventListener('DOMContentLoaded', ()=>{

    showMenu.addEventListener('click',()=>{
        if (menuWrap.classList.contains('on')){
            
            
            menuWrap.classList.remove("on");
            showMenu.classList.remove('btn-rotate');
            showMenu.src = "{% static '/tankManage/img/menu.svg' %}";
            overlay.style.display="none";
            body.style.overflow = "scroll";
        }else{
            
            menuWrap.classList.add("on");
            showMenu.classList.add('btn-rotate');
            showMenu.src = "{% static '/tankManage/img/exit-white.svg' %}";
            overlay.style.display="block";
            body.style.overflow = "hidden";
        }
        
    })
})
        </script>
    </body>
</html>
