{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static '/tankManage/css/index.css'%}" />
        <meta charset="utf-8">
        <meta name="viewport" 
          content="width=device-width, height=device-height, 
                     minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

    </head>
    <body>
        <div class="header">
            가격비교
            
        </div>
        <div class="flex-box">
          <div id="search-tab">
            <input type="text" id="search-bar"value="30하이큐브" onkeyup="enterkey();" />
            <input type="button" id="search-btn" value="" onclick="search()"><img onclick="search()" src="{% static '/tankManage/img/search.svg'%}"/></input>
            
          </div>
        </div>
       
        <div class="flex-box">
        <div id="show"></div>
        </div>
        <script type="text/javascript"> 
          // var data = JSON.parse(document.getElementById('jsonData').textContent);
          // for( var key1 in data){
          //   var jsonData = data[key1];
          //   document.write("<img width=100px src="+ jsonData["image"] + "/>");
          //     for(var key2 in jsonData){
          //       console.log(jsonData[key2]);
                
          //       document.write(key2+":"+jsonData[key2]+"<br/>");
          //     }
          // }

          function search(){
            let show = document.getElementById('show');
            show.innerHTML = '';
            var keyword = document.getElementById('search-bar').value;
            const config = {
              headers:{
                'Content-Type' : 'application/json'
              }
            }
            fetch('http://127.0.0.1:8000/list/'+keyword ,config)
              .then((res) =>{
                
                // jsonRes = JSON.stringify(res);
                // alert(jsonRes);
                return res.json();
              })
              .then(data => {
                console.log(data);
                data=data["items"];
                data.sort(function(a,b){
                  return a.lprice - b.lprice;
                });
                console.log(data);
                for (var key1 in data){
                  // alert(data[key1]);
                  var jsonData = data[key1];
                  if(jsonData["productType"] == '2'){

                  

                  show.innerHTML += `
                    <div class="search-item">
                      
                      <img src="${jsonData['image']}" style="width:100px"/>
                      <div style="white-space:nowrap; overflow:hidden;text-overflow:ellipsis;padding:0px 5px;">
                        <a href="${jsonData['link']}"><b>${jsonData['title']}</b></a><br>
                      <p>${jsonData['lprice'].toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")}원</p>
                      <b>${jsonData['mallName']}</b>${jsonData['mallName']=="코리도라스 백화점" ||  jsonData['mallName']=="트루 바이오톱" ? " <b style='color:red'><<맛집</b>":""}
                      </div>
                    </div>

                  `;
                }
                    // for (var key2 in jsonData){
                      
                    //   // console.log(jsonData[key2]);
                    //     show.innerHTML += (key2+":"+jsonData[key2]+"<br/>");
                    // }
                }
              })
              .catch(err => {
                // error 처리
                console.log('Fetch Error', err);
              });
          };

          function enterkey() {
            if(window.event.keyCode == 13){
              search();
            }
          }
          if('{{keyword}}' != ''){
            document.getElementById('search-bar').value = '{{keyword}}';
            search();
          }

        </script>

    </body>
</html>
